.box {
    background-color: #0b5ed7;
    border: blueviolet;
    min-height:50px;
}
.nav-margin{
    margin-right: 14px;
}

.c-item {
    height: 800px;
}
.c-img {
    height:100%;
    object-fit: scale-down;
}
#body{
    padding-bottom:50px;
    min-height:900px;
}
.headline{
    font-size:50px;
}
@media(min-width:1100px){
    .headline{
        font-size:60px;
    }
}