.box {
    background-color: #0b5ed7;
    border: blueviolet;
    min-height:50px;
}
.nav-margin{
    margin-right: 14px;
}

.c-item {
    height: 800px;
}
.c-img {
    height:100%;
    object-fit: scale-down;
}
.card_bg{
    box-shadow: 20px 20px 30px #997404;
    border-radius: 4px;
}
.card_bg:hover{
    box-shadow: 20px 20px 50px #ffc107;
}
#feature .fe-box{
    margin: 20px;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px #997404;
    border-radius: 4px;
}
#feature .fe-box:hover{
    box-shadow: 20px 20px 50px #ffc107;
}
.bg-yellow{
    background-color: #ffc107;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.padding10{
    padding-bottom: 40px;
    padding-top: 40px;
}
.borderCss{
    border-color:white;
    border-width:4px;
    border-style: solid;
    border-top:None;
    border-left:None;

}
.borderCssDark{
    border-color:black;
    border-width:4px;
    border-style: solid;
    border-top:None;
    border-left:None;
    transition: background-color 0.3s ease;

}
.borderCssDark:hover{
    background-color: #45a049;

}
#feature{
    width:100%;
    justify-content: center;
}
#body{
    padding-bottom:50px;
    min-height:900px;
}
.headline{
    font-size:50px;
}
.headline2{
    font-size:100px;
    padding-top:60px;
}
.smallerText{
    font-size:40px;
}
@media(max-width:900px){
    .headline2{
        font-size:70px;
        padding-top:40px;
    }
    .smallerText{
        font-size: 22px;
    }
}
.iconImg{
    width:50px;
}
.width100{
    width: 100%;
}
.height1000{
    min-height: 970px;
}
.smaller{
    font-size:38px;
    height:68px;
}
.mobileBiggerHeadline{
    font-size:60px;
    font-weight: bold;
    text-decoration: none
}
.mobileBiggerLink{
    font-size:40px;
    font-weight: bold;
    text-decoration: none
}
@media(min-width:400px) {
    #feature .fe-box {
        width: 110px;
    }
    .mobileBigger{
        font-size:30px;
    }
    .mobileBiggerSmall{
        font-size:25px;
    }
    .mobileBiggerHeadline{
        font-size:40px;
    }
}
a{
    text-decoration: none;
}
@media(min-width: 700px){
    #feature .fe-box {
        width: 120px;
    }
    .smaller{
        font-size:40px;
        height:85px;
    }
}


@media(min-width:1200px){
    #feature .fe-box{
        width:200px;
    }
    .headline2{
        font-size:70px;
        padding-top:40px;
    }
}
@media(max-width:670px){
    .headline2{
        font-size:60px;
    }
    .mobileBiggerLink{
        font-size:30px;
    }
}
.check{
    width:25px;
    height:25px;
}
.borderAll{
    border-width:15px;
    border-style: solid;
    border-top:None;
    border-left:None;
    border-bottom: None;
}
.sectionm1{
    margin: 40px 0;
}
#footerForm {
    background-color: transparent;
    border: none;
}
.customColor{
    color: #997404;
}
.customColor:hover{
    color: #ffc107;
}
.navSize{
    font-size:37px;
}
.footerForm input {
    font-size:20px;
    margin-bottom:7px;
    background-color: transparent;
    border:None;
    border-bottom: 2px solid white;
    color: white;
    border-radius: 0;
}

.footerForm input::placeholder {
    color: white;
    text-align:end;
    font-size:20px;
}
.footerForm button {
    margin-bottom:7px;
    background-color: transparent;
    border: 2px solid white;
    border-top:None;
    border-right:None;
    color: white;
    border-radius: 0;
}
.footerBigText{
    font-size:70px;
}
.footerSub{
    margin-bottom:15px;
}
@media(min-width:1100px){
    .headline{
        font-size:60px;
    }
}